/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "bootstrap-sprockets";
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;

}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

transbox {
  background-color: #ffffff;
  opacity: 0.1;
  filter: alpha(opacity=10); /* For IE8 and earlier */
}

.navbar {
	background:transparent;
}

.quote {
}

.faded {
	font-family: 'Poiret One', cursive; 
	font-weight: lighter;
	text-align: center;
	font-size: 30px;
}

.indent {
  text-indent: 30px;
}

a:link, a:visited {
	color: white;
}
a:hover {
	text-decoration: none;
}

.ontop {
	position: absolute;
}

.movedown {
	position: absolute;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.centered2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}